/* Share style section */

*{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    background-color:#FF900E;
    color:#FFF ;
    font-size:1.25rem ;
    font-weight:600 ;
    border-radius: 9px;
    padding: 20px 25px;
    margin: 35px;
}
.content-paragraph{ 
    font-size: 1rem;
    height: 30px;
    color: #727272;
    
}

/* header section style Start */
header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px ;
}

.nav-logo{
   color: #FF900E;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h3{
    font-size:2.81rem ;
    color:#131313 ;
    font-weight: 700;
}

nav > ul{
    display: flex;
    gap: 20px;
    list-style: none;
    gap: 20px;
}
nav a{
    text-decoration: none;
    font-size:1.5rem ;
    font-weight:500 ;
    color:#424242 ;
    line-height: 26px;
}

/* banner style start */

.banner-content{
    max-width: 870px;
    text-align: center;
    margin: 0 auto;

}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight:700 ;
    text-align: center;
    padding-top: 200px;

}

.teams-content > .content-paragraph{
    margin-top:15px ;

}

.banner img{
    max-width: 100%;
}
/* main style */
main{
    max-width: 1440px;
    margin: 150px auto;
}


/* teams sections start */
.teams-container{
    display:flex;
    align-items: center;
    gap: 40px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;

}

.teams-title{
    max-width: 470px;
    font-size: 2.8rem;
    font-weight: 700;

}

.teams-title .quick-list{
   color: #727272;
   font-weight: 500;
}
.teams-title .text-features{
  color: #FF900E;
}


.Features-content{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
}

.Fetur-paragraph{
    width:586px ;  

}

.Fetur-paragraph h1{
    font-size:3.75rem;
    color: #131313;

}


.fetur-card{
    background-color:#FFF;
    border-radius:8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px;
}

.Features-content .architect-offer img {
    width: 610px;
    height: 785px;
    margin-left: 100px;
}
.Features-content .architect-offer .offer{
    background-color: #FF900E; ;
    width: 345px; 
    height:200px ;
    border-radius: 8px;
}
.Features-content .architect-offer .offer h2{
    text-align: center;
    color: #FFF;
    font-size: 4.06rem;
    line-height: 70px;
    font-weight: 400px;
    margin:0px auto;
    padding-top:35px;
}
.Features-content .architect-offer .offer h3{
color: #FFF;
text-align: center;
font-size: 1.5rem;
font-weight: 500;
line-height: 40px;
margin-top: 5px;
}
.architect-offer{
    position: relative;
}
.offer{
    position:absolute;
    bottom: -100px;
 
}














/* Responsive media queries */

@media screen and (max-width:576px) {
    
    
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .banner-title{
        font-size: 3rem;
    
    }
    .banner-content{
        text-align: left;
    }
    .banner img{
       min-width: 100%;
    }
}
@media screen and (min-width:576px) and (max-width:980px){
    header{
        padding: 50px;
    }
    .banner-title{
        font-size: 2.5rem;
    
    }
    nav h3{
        font-size: 2rem;
    }
}


